*,
*::before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.home-wrapper {
	margin: 30px;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*border: 1px solid red;*/

	h1 {
		color: #ffffffcc;
	}


	input {
		margin: 10px;
		width: auto;
		height: auto;
		border-radius: 5px;
		background-color: darkblue;
		color: #ffffffcc;
	}

	.image-text-wrapper {
		margin: 20px;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 80vw;
		height: 80vh;
		/*border: 1px solid red;*/

		img {
			/*border: 1px solid red;*/
			height: 90%;
		}

		iframe {
			height: 90%;
		}

		p {
			padding: 0 5px 5px 15px;
			text-align: justify;
			color: #ffffffcc;
			max-width: 25vw;
			/*border: 1px solid red;*/
		}
	}
}